Repository 101-Coconsulting/TC3005B.501-Backend, pull requests merged in 2025-05, with the labels that each got.

#144 feat: created endpoint /authorize-travel-request
  controllers/authorizerController.js
  models/authorizerModel.js
  routes/authorizerRoutes.js
  services/authorizerService.js
Labels: enhancement, API

#180 179 task fix database dummy data for receipt
  database/Schema/Dummy.sql
  database/Schema/Scheme.sql
Labels: Database, chore

#174 feat(db): add view for full user info
  database/Schema/Views.sql
Labels: Database

#183 182 sub task change alert table to include request
  database/Schema/Dummy.sql
  database/Schema/Scheme.sql
Labels: enhancement, Database

#175 6 task profile data
  controllers/userController.js
  index.js
  models/userModel.js
  routes/userRoutes.js
  services/userService.js
Labels: API

#177 18 task applicant travel history record
  controllers/applicantController.js
  models/applicantModel.js
  routes/applicantRoutes.js
Labels: API

#181 26 task approval flow
  controllers/authorizerController.js
  index.js
  models/authorizerModel.js
  routes/authorizerRoutes.js
  services/authorizerService.js
Labels: API

#187 feat(DB): Added amount FLOAT and refund BOOL
  database/Schema/Dummy.sql
  database/Schema/Scheme.sql
  database/Schema/Views.sql
Labels: Database

#173 Featured: Created endpoint/ get-user-request/{request_id}
  controllers/applicantController.js
  models/applicantModel.js
  routes/applicantRoutes.js
Labels: API, Small Change Request

#178 10 sub task create endpoint get user requestsuser idstatus
  controllers/applicantController.js
  index.js
  models/applicantModel.js
  routes/applicantRoutes.js
Labels: API

#194 192-task-standardize-characters-in-database
  database/Schema/Scheme.sql
Labels: Database, chore

#184 153 sub task create endpoint get user list
  controllers/adminController.js
  index.js
  models/adminModel.js
  routes/adminRoutes.js
Labels: API

#205 chore(db): add more dummy data to route_request
  database/Schema/Dummy.sql
Labels: Database, chore

#208 Added 30 dummy data examples for 'Receipt' table.sql
  database/Schema/Dummy.sql
Labels: Database, chore

#195 feat: created endpoint to cancel a request
  controllers/applicantController.js
  models/applicantModel.js
  routes/applicantRoutes.js
  services/applicantService.js
Labels: enhancement, API

#186 feat(db): added endpoint /get-alerts
  controllers/authorizerController.js
  database/Schema/Dummy.sql
  database/Schema/Scheme.sql
  models/authorizerModel.js
  routes/authorizerRoutes.js
Labels: enhancement, API

#216 12 task travel request applicant 2
  controllers/applicantController.js
  database/Schema/Scheme.sql
  models/applicantModel.js
  routes/applicantRoutes.js
  services/applicantService.js
Labels: enhancement, API

#220 docs: translate `README.md`
  README.md
Labels: documentation, chore

#206 Applicant Gets (Task 9 Applicant Dashboard)
  controllers/applicantController.js
  index.js
  models/applicantModel.js
  routes/applicantRoutes.js
Labels: enhancement, API

#210 Added 30 dummy data examples for 'user' table.sql
  database/Schema/Dummy.sql
Labels: Database, chore

#211 Added 30 dummy data examples for 'department' table.sql
  database/Schema/Dummy.sql
Labels: Database, chore

#226 196 sub task add more variety to dummy data
  database/Schema/Dummy.sql
Labels: Database

#228 164 task db corrections scheme pre population dummy data 2
  database/Schema/Dummy.sql
Labels: Database

#231 221 task getting started instructions
  README.md
Labels: documentation, chore

#217 212 task alert creation
  database/Schema/Dummy.sql
  database/Schema/Prepopulate.sql
  database/Schema/Scheme.sql
  database/Schema/Triggers.sql
Labels: Database

#236 Chore(db): 164 task db corrections scheme pre population dummy data
  database/Schema/Dummy.sql
  database/Schema/Prepopulate.sql
  database/Schema/Scheme.sql
  database/Schema/Triggers.sql
  database/Schema/Views.sql
Labels: Database, chore

#234 221 task getting started instructions
  .env.example
  README.md
Labels: documentation, chore

#222 158 sub task create endpoint create user
  controllers/adminController.js
  controllers/userController.js
  index.js
  models/adminModel.js
  models/userModel.js
  package-lock.json
  package.json
  routes/adminRoutes.js
  routes/userRoutes.js
  services/adminService.js
  services/userService.js
Labels: API, admin

#252 243 sub task fixing endpoint authorize travel request
  controllers/authorizerController.js
  models/authorizerModel.js
  routes/authorizerRoutes.js
  services/authorizerService.js
Labels: API, chore, authorizer

#255 249 sub task fixing endpoint attend travel requestid
  controllers/accountsPayableController.js
  models/accountsPayableModel.js
  routes/accountsPayableRoutes.js
Labels: admin, travel agent

#256 fix: Corrected date format in creation_date and returned origin and destination country
  controllers/applicantController.js
  models/applicantModel.js
Labels: API

#253 244 sub task fixing endpoint decline travel request
  controllers/authorizerController.js
  models/authorizerModel.js
  routes/authorizerRoutes.js
Labels: API, chore, authorizer

#218 20 task authorizer dashboard
  controllers/authorizerController.js
  database/Schema/Triggers.sql
  index.js
  models/authorizerModel.js
  routes/authorizerRoutes.js
Labels: enhancement, API, authorizer

#264 238 task fix endpoints inconsistencies
  controllers/accountsPayableController.js
  controllers/applicantController.js
  controllers/authorizerController.js
  controllers/userController.js
  index.js
  models/accountsPayableModel.js
  models/applicantModel.js
  models/authorizerModel.js
  routes/accountsPayableRoutes.js
  routes/authorizerRoutes.js
  services/applicantService.js
  services/authorizerService.js
  services/userService.js
Labels: API, chore

#267 fix: endpoint attend-travel-request cpp
  controllers/accountsPayableController.js
  models/accountsPayableModel.js
Labels: bug, API, accounts payable

#223 Release PR Backend v0.2.0
  .env.example
  .envrc
  .gitignore
  .nvmrc
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  certs/create_certs.sh
  controllers/README.md
  controllers/accountsPayableController.js
  controllers/adminController.js
  controllers/applicantController.js
  controllers/authorizerController.js
  controllers/travelAgentController.js
  controllers/userController.js
  database/Documentation/SQL_Contribuiting.md
  database/Documentation/entity_relationship_model/Draw.io - Model .svg
  database/Documentation/entity_relationship_model/Draw.io Link.txt
  database/Documentation/entity_relationship_model/Mermeid - Link.txt
  database/Documentation/entity_relationship_model/Mermeid - Model.svg
  database/MOCK_DB_SETUP.md
  database/README.md
  database/Schema/Dummy.sql
  database/Schema/Prepopulate.sql
  database/Schema/Scheme.sql
  database/Schema/Triggers.sql
  database/Schema/Views.sql
  database/config/db.js
  database/config/db_example.js
  database/config/init_db.js
  database/config/test_db.js
  index.js
  middleware/README.md
  models/accountsPayableModel.js
  models/adminModel.js
  models/applicantModel.js
  models/authorizerModel.js
  models/travelAgentModel.js
  models/userModel.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  routes/README.md
  routes/accountsPayableRoutes.js
  routes/adminRoutes.js
  routes/applicantRoutes.js
  routes/authorizerRoutes.js
  routes/travelAgentRoutes.js
  routes/userRoutes.js
  services/accountsPayableService.js
  services/adminService.js
  services/applicantService.js
  services/authorizerService.js
  services/travelAgentService.js
  services/userService.js
Labels: documentation, enhancement, Pre-Viaje, Release

#237 171 sub task create endpoint get expense validationsdeptstatusn
  controllers/accountsPayableController.js
  models/accountsPayableModel.js
  routes/accountsPayableRoutes.js
Labels: enhancement, API, accounts payable

#289 273 sub task create endpoint save draft travel requestuser
  controllers/applicantController.js
  index.js
  models/applicantModel.js
  package.json
  routes/applicantRoutes.js
  services/applicantService.js
Labels: enhancement, API

#288 Update CHANGELOG.md
  CHANGELOG.md
Labels: chore

#297 296 task refactor get users list to show only active users
  database/Schema/Views.sql
  models/adminModel.js
Labels: API, admin

#294 Changed first Request_status to 'Aberto' to 'Borrador' in Prepopulate.sql
  database/Schema/Prepopulate.sql
Labels: Database, Small Change Request

#298 feat: added wallet column to user table
  database/Schema/Scheme.sql
Labels: Database, Small Change Request, applicant

#305 302 task trigger to change receipt to pending when rejected
  database/Schema/Triggers.sql
Labels: Post-Viaje

#295 QuickSetup file created
  database/QuickSetup.sql
Labels: enhancement, Database, chore

#304 188 sub task fix db setup and db contribuiting md
  database/Entity Relationship Model/Draw.io - Model .svg
  database/Entity Relationship Model/Draw.io Link.txt
  database/Entity Relationship Model/Mermeid - Link.txt
  database/Entity Relationship Model/Mermeid - Model.svg
  database/MOCK_DB_SETUP.md
  database/README.md
  database/SQL_CONTRIBUITING.md
  database/Schema/Views.sql
  database/config/db_example.js
  database/config/test_db.js
Labels: documentation, Database, chore

#307 271 sub task create a trigger to update the wallet
  database/Schema/Triggers.sql
Labels: enhancement, Database, Post-Viaje

#299 272 task travel request draft
  controllers/applicantController.js
  index.js
  models/applicantModel.js
  package.json
  routes/applicantRoutes.js
  services/applicantService.js
Labels: enhancement, API, Pre-Viaje

#311 feat: create endpoint send-expense-validation to change request statu…
  controllers/applicantController.js
  models/applicantModel.js
  routes/applicantRoutes.js
  services/applicantService.js
Labels: Post-Viaje

#313 170 task cpp validations table
  controllers/accountsPayableController.js
  models/accountsPayableModel.js
  routes/accountsPayableRoutes.js
Labels: enhancement, API, Post-Viaje

#312 269 task obtain a users wallet information
  controllers/userController.js
  database/Schema/Scheme.sql
  database/Schema/Triggers.sql
  models/userModel.js
  routes/userRoutes.js
Labels: API, Post-Viaje, applicant

#276 259 task automatic db setup
  README.md
  database/Schema/Triggers.sql
  database/config/dev_db.js
  package.json
Labels: enhancement, Database, chore

#326 feat: Add dummy data to Request_log table for 5 sample requests
  database/Schema/Dummy.sql
Labels: Database, chore

#254 MongoDB File Storage
  .env.example
  README.md
  database/Schema/Scheme.sql
  database/Schema/Triggers.sql
  index.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  routes/fileRoutes.js
  services/fileStorage.js
  services/receiptFileService.js
Labels: enhancement, Database, Post-Viaje

#333 fix: request parameters in controller
  controllers/userController.js
  models/userModel.js
Labels: bug

#334 feat: updated changelog for release 0.3
  CHANGELOG.md
Labels: documentation, chore
