Repository 101-Coconsulting/TC3005B.501-Backend, pull requests merged in 2025-06, with the labels that each got.

#331 155 task administrator create new users
  .env.example
  controllers/adminController.js
  controllers/userController.js
  models/adminModel.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  routes/adminRoutes.js
  services/adminService.js
  services/userService.js
Labels: enhancement, API, admin

#342 190 sub task update entity relationship diagram
  database/Entity Relationship Model/Draw.io - Model .drawio.svg
  database/Entity Relationship Model/Draw.io - Model .svg
  database/Entity Relationship Model/Draw.io Link.txt
  database/Entity Relationship Model/Mermeid - Link.txt
  database/Entity Relationship Model/Mermeid - Model.svg
  database/QuickSetup.sql
Labels: documentation, Database, chore

#348 Decryption of data
  controllers/adminController.js
  controllers/applicantController.js
  controllers/userController.js
  middleware/decryption.js
  models/adminModel.js
  services/adminService.js
  services/userService.js
Labels: enhancement, API, security, chore

#345 Rate request limiting
  middleware/rateLimiters.js
  middleware/validation.js
  package-lock.json
  package.json
  routes/adminRoutes.js
  routes/authorizerRoutes.js
  routes/fileRoutes.js
  routes/userRoutes.js
Labels: enhancement, API, security, chore

#357 352 sub task create test environment
  controllers/applicantController.js
  index.js
  mocharc.json
  package-lock.json
  package.json
  test/Applicant/getCostCenter.test.js
Labels: chore, Test

#353 feat: included cancelled and rejected requests in get completed requests
  models/applicantModel.js
Labels: applicant

#378 test: attend travel request travel agent
  test/TravelAgent/attendTravelRequest.test.js
Labels: API, travel agent, Test

#393 375 sub task test travel agent endpoints
  test/TravelAgent/attendTravelRequest.test.js
Labels: API, travel agent, Test

#362 Route role protection using jwt and encryption fixes
  .env.example
  controllers/userController.js
  middleware/auth.js
  middleware/decryption.js
  models/userModel.js
  routes/accountsPayableRoutes.js
  routes/adminRoutes.js
  routes/applicantRoutes.js
  routes/authorizerRoutes.js
  routes/travelAgentRoutes.js
  routes/userRoutes.js
  services/adminService.js
  services/userService.js
Labels: enhancement, API, security, chore

#358 320 task create scv file for users information to be encrypted once stored in the db
  controllers/adminController.js
  database/Schema/Dummy.sql
  database/config/dev_db.js
  database/config/dummy_users.csv
  services/adminService.js
Labels: chore

#365 364 test: get user requests
  test/Applicant/getUserRequests.test.js
Labels: API, applicant, Test

#327 feat: implement request logs endpoint to get the historical data of a request
  controllers/userController.js
  models/userModel.js
  routes/userRoutes.js
Labels: API, chore

#394 test: get user list endpoint
  test/Admin/getUserList.test.js
Labels: API, admin, Test

#368 test: get completed requests
  test/Applicant/getCompletedRequests.test.js
Labels: API, applicant, Test

#421 test: attendTravelRequest endpoint
  test/accountsPayable/attendTravelRequest.test.js
Labels: Test

#418 chore: added test for getAlerts
  test/Authorizer/getAlerts.test.js
Labels: API, authorizer, Test

#415 160 sub task create endpoint update useruser
  controllers/adminController.js
  models/adminModel.js
  routes/adminRoutes.js
  services/adminService.js
Labels: enhancement, API, admin

#424 Test: Test Login
  test/User/login.test.js
Labels: Test

#429 428 delete receiptreceipt id
  controllers/applicantController.js
  models/applicantModel.js
  routes/applicantRoutes.js
  services/receiptFileService.js
Labels: enhancement, API, Post-Viaje

#432 430 task fix status change to receipt when rejected
  database/Schema/Triggers.sql
  package.json
Labels: bug, API, chore, Post-Viaje

#407 test: add tests for validate-receipts endpoin
  test/accountsPayable/validateReceipts.test.js
Labels: API, chore, Test

#431 376 sub task test user endpoints
  test/User/getTravelRequest.test.js
  test/User/getTravelRequests.test.js
  test/User/getUserData.test.js
  test/User/login.test.js
  test/User/logout.test.js
Labels: API, admin, Test

#396 test: authorize travel request
  test/Authorizer/authorizeTravelRequest.test.js
Labels: API, authorizer, Test

#434 Add role route protection to missing admin endpoints
  routes/adminRoutes.js
Labels: enhancement, security, chore

#425 423 change email validation when creating a new user
  models/adminModel.js
  services/adminService.js
Labels: API, chore

#438 351 sub task test applicant endpoints p1
  database/Schema/Dummy.sql
  test/Applicant/createTravelRequest.test.js
  test/Applicant/getCompletedRequests.test.js
  test/Applicant/getUserRequests.test.js
  test/Applicant/getUserWallet.test.js
  test/Applicant/sendExpenseValidation.test.js
Labels: Test

#416 MongoDB Sanitization
  controllers/fileController.js
  middleware/mongoSanitize.js
  package.json
  routes/fileRoutes.js
  services/fileStorage.js
Labels: Database, security, chore, Post-Viaje

#439 373 sub task test admin endpoints
  test/Admin/createUser.test.js
  test/Admin/getUserList.test.js
Labels: Test
