Repository 101-Coconsulting/TC3005B.501-Backend, pull requests merged in 2025-04, with the labels that each got.

#47 Commiting SQL_Contribuiting
  database/Documentation/SQL_Contribuiting.md
Labels: documentation, Database

#57 56 task db connection
  database/config/db.js
  database/config/db_example.js
  package-lock.json
  package.json
Labels: Database, API, chore

#70 69 task refactor from commonjs to es6 modules
  package.json
Labels: enhancement, chore

#74 chore: added the documentation workflow we are going to follow to bui…
  CONTRIBUTING.md
Labels: documentation, API, chore

#58 Docs(DB): Entity Relationship Model
  database/Documentation/entity_relationship_model/Draw.io - Model .svg
  database/Documentation/entity_relationship_model/Draw.io Link.txt
  database/Documentation/entity_relationship_model/Mermeid - Link.txt
  database/Documentation/entity_relationship_model/Mermeid - Model.svg
Labels: documentation, Database, chore

#77 Feature(DB) Request_Table created
  database/Schema/Scheme.sql
Labels: enhancement, Database

#84 docs: Created guide to configure a mock db using MariaDB CLI
  database/MOCK_DB_SETUP.md
Labels: documentation, Database, API, chore

#89 Backend HTTPS certificates
  .gitignore
  README.md
  certs/create_certs.sh
  index.js
Labels: documentation, API, security

#83 42 sub task create route table
  database/Schema/Scheme.sql
Labels: enhancement, Database

#85 44 sub task create country table
  database/Schema/Scheme.sql
Labels: enhancement, Database

#86 Tipo feature(db): finished Receipt table, closes issue #45
  database/Schema/Scheme.sql
Labels: enhancement, Database

#87 finished route_request table, closes issue #41
  database/Schema/Scheme.sql
Labels: enhancement, Database

#88 43 sub task create city tabl
  database/Schema/Scheme.sql
Labels: enhancement, Database

#90 feature(db): finished Department table
  database/Schema/Scheme.sql
Labels: enhancement, Database

#112 feat(db): added creation_date in request table
  database/Schema/Scheme.sql
Labels: Database

#113 Added 10 examples of dummy data for City Table
  database/Schema/Dummy.sql
Labels: Database, chore

#114 104 sub task create dummy data for table country
  database/Schema/Dummy.sql
Labels: Database, chore

#119 chore(db): added 10 dummy values into Route table
  database/Schema/Dummy.sql
Labels: Database, chore

#116 feat(db): created UserRequestHistory view
  database/Schema/Views.sql
Labels: enhancement, Database

#126 feat(db): created RequestWithRouteDetails view
  database/Schema/Views.sql
Labels: Database, chore

#124 chore: close issue 101 create-dummy-data-for-table-deparment
  database/Schema/Dummy.sql
Labels: Database, chore

#122 108 sub task create dummy data for table receipt
  database/Schema/Dummy.sql
Labels: Database, chore

#121 102 sub task create dummy data for table alert
  database/Schema/Dummy.sql
Labels: Database, chore

#123 chore: close issue 10 create-dummy-data-for-table-user
  database/Schema/Dummy.sql
Labels: Database, chore

#133 endpoint: api/attend-travel-request/:id
  controllers/travelAgentController.js
  index.js
  models/travelAgentModel.js
  routes/travelAgentRoutes.js
Labels: enhancement, API

#137 Update .gitignore for MacOS files
  .gitignore
Labels: chore

#131 13 sub task create endpoint create travel request
  controllers/applicantController.js
  database/Schema/Scheme.sql
  models/applicantModel.js
  routes/applicantRoutes.js
  services/applicantService.js
  services/countries.json
Labels: enhancement, API

#130 chore (db): 99 task create dummy data for db
  database/Schema/Dummy.sql
  database/Schema/Scheme.sql
Labels: Database, chore

#134 Node version environment configuration
  .envrc
  .nvmrc
Labels: API, chore

#120 14 sub task create endpoint get ccuser
  controllers/applicantController.js
  models/applicantModel.js
  routes/applicantRoutes.js
Labels: enhancement, API

#132 CodeQL configuration Backend
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Labels: security, chore

#95 18 sub task create endpoint get completed requestsuser
  controllers/applicantController.js
  models/applicantModel.js
  routes/applicantRoutes.js
Labels: API

#146 feat(db): add other fields to the view
  database/Schema/Views.sql
Labels: Database

#163 refactor(db): changed order of request_status prepopulation
  database/Schema/Prepopulate.sql
Labels: Database, chore

#168 166-task-create-a-trigger-that-automatically-deletes-an-alert
  database/Schema/Triggers.sql
Labels: enhancement, Database

#167 165-task-create-a-trigger-to-deactivate-a-request
  database/Schema/Triggers.sql
Labels: enhancement, Database

#147 20 sub task create endpoint get completed requestsuser
  controllers/applicantController.js
  models/applicantModel.js
Labels: API
